trunk/SistmaDiseño/xml-resources/web-service-references/awsconfirmarreserva/wsdl/www.frm.utn.edu.ar_8080/cronossistemastock/servlet/awsconfirmarreserva.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSConfirmarReserva" targetNamespace="SistemaStock" xmlns:wsdlns="SistemaStock" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="SistemaStock">
	<types>
		<schema targetNamespace="SistemaStock" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<complexType name="ArrayOfint">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:short">
					</element>
				</sequence>
			</complexType>
			<element name="WSConfirmarReserva.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Password" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Reserva" type="xsd:short"/>
						<element minOccurs="1" maxOccurs="1" name="Bienes" type="tns:ArrayOfint"/>
					</sequence>
				</complexType>
			</element>
			<element name="WSConfirmarReserva.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Fail" type="xsd:boolean"/>
						<element minOccurs="1" maxOccurs="1" name="Mensajeerror" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="WSConfirmarReserva.ExecuteSoapIn">
		<part name="parameters" element="tns:WSConfirmarReserva.Execute"/>
	</message>
	<message name="WSConfirmarReserva.ExecuteSoapOut">
		<part name="parameters" element="tns:WSConfirmarReserva.ExecuteResponse"/>
	</message>
	<portType name="WSConfirmarReservaSoapPort">
		<operation name="Execute">
			<input message="wsdlns:WSConfirmarReserva.ExecuteSoapIn"/>
			<output message="wsdlns:WSConfirmarReserva.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="WSConfirmarReservaSoapBinding" type="wsdlns:WSConfirmarReservaSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="SistemaStockaction/AWSCONFIRMARRESERVA.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="WSConfirmarReserva">
		<port name="WSConfirmarReservaSoapPort" binding="wsdlns:WSConfirmarReservaSoapBinding">
			<soap:address location="http://www.frm.utn.edu.ar:8080/cronossistemastock/servlet/awsconfirmarreserva"/>
		</port>
	</service>
</definitions>
